body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #121212;
    font-size: 15px;
}
.num{
    font-weight:bold;
}
.mail{
    font-weight:bold;
}

.container {
    display: flex;
    height: 100%;
    margin: 0 330px;
    background: #fff;
}

.left {
    width: 37%;
    margin: 0 12px 50px 25px;

}

.left img {
    width: 200px;
    margin: 40px 0 5px 0;
    height: 230px;

}

hr {
    border: 0.5px solid;
}

.info {
    line-height: 1.5rem;
}

.info .title {
    color: rgb(0, 242, 255);
    font-weight: bold;
}


.rigth {
    margin: 100px 25px 0 12px;
    width: 63%;

}

.name {
    font-size: 1.5rem;
    color: rgb(0, 242, 255);
}

.title-professional {
    font-size: 1.3rem;
}

.description {
    margin-top: 50px;
    margin-bottom: 14px;
}

.title-section {
    margin-top: 10px;
    font-size: 1.2rem;
    color: rgb(0, 242, 255);

}

.date {
    font-weight: bold;

}

.detail {
    margin-bottom: 20px;
}

.date.first {
    margin-top: 10px;
}

.frontend {
    display: flex;
}

.label {
    width: 41%;
}

.progressbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    margin: 15px 0;
    margin-right: 25px;
    margin-left: 10px;
}

.pourcentage {
    width: 10%;
}

.progressbar-bleu.html {


    background: rgb(0, 242, 255);
    height: 10px;
    width: 90%;
    border-radius: 10px;

}

.progressbar-noir.html {

    background: #121212;
    height: 10px;
    width: 100%;
    border-radius: 10px;

}

.progressbar-bleu.css {


    background: rgb(0, 242, 255);
    height: 10px;
    width: 70%;
    border-radius: 10px;

}

.progressbar-noir.css {

    background: #121212;
    height: 10px;
    width: 100%;
    border-radius: 10px;

}

.progressbar-bleu.js {


    background: rgb(0, 242, 255);
    height: 10px;
    width: 70%;
    border-radius: 10px;

}

.progressbar-noir.js {

    background: #121212;
    height: 10px;
    width: 100%;
    border-radius: 10px;

}

.backend {
    display: flex;
}

.progressbar-bleu.py {


    background: rgb(0, 242, 255);
    height: 10px;
    width: 50%;
    border-radius: 10px;

}

.progressbar-noir.py {

    background: #121212;
    height: 10px;
    width: 100%;
    border-radius: 10px;

}

.progressbar-bleu.node {


    background: rgb(0, 242, 255);
    height: 10px;
    width: 50%;
    border-radius: 10px;

}

.progressbar-noir.node {

    background: #121212;
    height: 10px;
    width: 100%;
    border-radius: 10px;

}

.bd {
    display: flex;
}

.progressbar-bleu.mysql {


    background: rgb(0, 242, 255);
    height: 10px;
    width: 50%;
    border-radius: 10px;

}

.progressbar-noir.mysql {

    background: #121212;
    height: 10px;
    width: 100%;
    border-radius: 10px;

}

.git {
    display: flex;
}

.progressbar-bleu.git {


    background: rgb(0, 242, 255);
    height: 10px;
    width: 60%;
    border-radius: 10px;

}

.progressbar-noir.git {

    background: #121212;
    height: 10px;
    width: 100%;
    border-radius: 10px;

}

.info {
    display: flex;
    align-items: space-between;
}

.hr {
    margin: 0;
}

.separator {


    border-left: 2px solid #121212;
    height: 250px;
    margin: 0 25px;
}

.centre {
    width: 49%;
}

.langue {
    width: 49%;
}
